---

# magic numbers are useful to layout stuff in Qt...
#  -readability-magic-numbers and its alias cppcoreguidelines-avoid-magic-numbers

# `protected`: followed by `protected slots:` would trigger it
#  -readability-redundant-access-specifiers,

# Problem with OS_ASSERT macro
#  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,

# We use raw pointers for Qt, since usually the memory is then owned by the parent
#  -cppcoreguidelines-owning-memory

# I don't think this really helps clarify the intent
#  -readability-else-after-return
#  -modernize-concat-nested-namespaces

# Aliases
# - cppcoreguidelines-avoid-c-arrays => modernize-avoid-c-arrays
# - cppcoreguidelines-non-private-member-variables-in-classes => misc-non-private-member-variables-in-classes
# - cppcoreguidelines-explicit-virtual-functions, hicpp-use-override => modernize-use-override

Checks: |
  *,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -llvm*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-owning-memory,
  -readability-redundant-access-specifiers,
  -cppcoreguidelines-explicit-virtual-functions,
  -readability-else-after-return,
  -modernize-concat-nested-namespaces,
  -hicpp-*,
  hicpp-avoid-goto,
  hicpp-exception-baseclass,
  hicpp-multiway-paths-covered,
  hicpp-no-assembler,
  hicpp-signed-bitwise,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-non-private-member-variables-in-classes,

WarningsAsErrors: '*'
HeaderFilterRegex: '*'
FormatStyle:     file
CheckOptions:
  - key:             modernize-use-override.AllowOverrideAndFinal
    value:           'true'
  - key:             modernize-use-override.IgnoreDestructors
    value:           'true'
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           'true'
